##############################
# Flutter / Dart / Pub
##############################
.dart_tool/
.packages
.pub/
build/
flutter_*.png
coverage/
*.dart.js
*.info.json
*.map
*.module
*.snapshot
*.dill
*.tmp
*.log

# Generated plugin files (must NOT commit)
.flutter-plugins
.flutter-plugins-dependencies

# Generated registrant
lib/generated_plugin_registrant.dart

# pubspec.lock (Flutter app에서는 보통 ignore)
pubspec.lock


##############################
# IntelliJ / VSCode
##############################
.idea/
*.iml
.vscode/
*.swp


##############################
# macOS
##############################
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


##############################
# Android
##############################
**/android/**/local.properties
**/android/**/.gradle/
**/android/**/captures/
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/**/gradle-wrapper.jar
**/android/**/gradle-wrapper.properties
**/android/**/gradle/
**/android/**/keystore.properties
**/android/**/app/build/


##############################
# iOS
##############################
**/ios/Flutter/.last_build_id
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/build/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner.xcworkspace/
**/ios/*.xcworkspace/
**/ios/*.xcuserdata/


##############################
# Xcode
##############################
*.xccheckout
*.moved-aside
DerivedData/
*.xcuserstate


##############################
# Firebase
##############################
# flutterfire CLI가 생성한 firebase_options.dart 는 포함해도 OK
# google-services.json / GoogleService-Info.plist 은 보통 보안 때문에 ignore
**/google-services.json
**/GoogleService-Info.plist


##############################
# Logs
##############################
logs/
*.log


###################
